<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <div style="text-align:center; position: relative; color: white">
                            <img class="homePageImage" src="assets/images/adult-beard-blur-842567.jpg" alt="John" style="width:100%; background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;">
                            <h1 class="banner-heading" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">MEET YOUR FUTURE TODAY</h1>
                        </div>
                        <div class="searchbox">
                            <input type="text" placeholder="Search role(for e.g Java developer)" />
                            <button>go</button>
                        </div>
                    </div>
                </div>      
            </mat-card-content>
        </mat-card>
        <p class="center-text">Connecting carrier driver IT-people to recruiters</p>
    </div>
    <!-- column -->    
</div>